
@media screen and (max-width: 768px) {

    .logo_image {
        height: 45px;
        /* margin-right: 100px; */
    }

    .navbar .input-group{

        margin-bottom: 10px ;

    }

    .category_drop_btn_mob { 

        margin-top: -1px;
        padding: 0 30px;
        /*margin-bottom: 10px;*/
        border-radius: 10px;

    }

    .navbar-nav .nav-link {
        color: #6f6f6f !important;
    }

    #header-carousel .carousel-item {

        height: 60vh;

    }

    .carousel-caption .btn { 

        color: #FFF;
        border-radius: 10px;

    }

    .btn {
        
        border-radius: 10px;

    }

    .mb-5, .my-5 {
        margin-bottom: 1rem !important;
    }

    .product-item  .card-body {

        margin-bottom: 0px !important;
        padding: 0% !important;

    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px;
        margin-bottom: 5px !important ;
    }

    .btn-outline-primary {
        color: #FFF;
        border-color: lightgray;
    }

    a.nav-link.active {
        text-shadow: 1px 2px 3px white;
        color: #000 !important;
    }

	.carousel-control-prev >.btn.btn-dark,.carousel-control-next >.btn.btn-dark{
		  display:none!important;
		  background:transparent!important;
	}
	div.top_header{
		width:inherit;
		position:fixed;
		z-index:5;
		padding-top: 5px!important;
		/*box-shadow:-1px 1px 2px #adc5fc8c;*/
		/*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
		/* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
	}
	div.container-fluid:has(div.top_header){ 
		margin-top:0!important;
	}
	div:has(ul.mob_breadcrumb)
	/*,div:has(div#header-carousel)*/
	{
		margin-top:10px!important;
	}
	nav.top_menue_bar {
		padding:0 10px;
	}
	#filter_side_bar{
		max-height:50vh;
		height:auto;
		overflow-y:scroll;
	}
}
/* 
@media (max-width: 767.98px){
    div.top_header{
        position: sticky !important;
        left: auto !important;
        right: auto !important;
        width: 100% !important;
        z-index: 1030 !important;
        padding-top: 5px;
    }
} */


.mg-rate-ticker{
    margin-top: 0 !important;
    border-top: none !important;
    max-height: 60px;
    overflow: hidden;
    opacity: 1;
}